@font-face {
    font-family: 'wulkan_displayblack_italic';
    src: url('./fonts/wulkan_display_black-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_displayblack';
    src: url('./fonts/wulkan_display_black-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_displaybold_italic';
    src: url('./fonts/wulkan_display_bold_italic-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_displaybold';
    src: url('./fonts/wulkan_display_bold-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_display_italicitalic';
    src: url('./fonts/wulkan_display_italic-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_displaylight_italic';
    src: url('./fonts/wulkan_display_light_italic-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_displaylight';
    src: url('./fonts/wulkan_display_light-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_displaymedium_italic';
    src: url('./fonts/wulkan_display_medium_italic-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_displaymedium';
    src: url('./fonts/wulkan_display_medium-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_display_regularregular';
    src: url('./fonts/wulkan_display_regular-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_displaysemibold_italic';
    src: url('./fonts/wulkan_display_semibold_italic-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_semibold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wulkan_displaysemibold';
    src: url('./fonts/wulkan_display_semibold-webfont.woff2') format('woff2'),
         url('./fonts/wulkan_display_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kingdomregular';
    src: url('./fonts/kingdom-webfont.woff2') format('woff2'),
         url('./fonts/kingdom-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}